*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.conatiner{
    background-image: url('https://images.unsplash.com/photo-1505685509042-16b1b75030cf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.737);
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}
.links a:hover{
    color: orange;
    transition: all 0.3s ease-in-out;
}
.links{
    display: flex;
    gap: 20px;
}
.logo p{
    font-size: 30px;
    font-weight: 700;
    color: orange;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo span{
    color: white !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo:hover p {
    color: white;
    transition: all 0.3s ease-in-out;
}

.logo:hover span {
    color: orange !important;
    transition: all 0.3s ease-in-out;
}
.small-section {
    background-image: url("../image/istockphoto-2168502212-1024x1024.jpg");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay2 {
    background-color: rgba(0, 0, 0, 0.441);
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.small-section button {
    width: 30%;
    height: 70px;
    font-size: large;
border-radius: 5px;
}
.small-section p{
    font-size: xx-large;
    color: orangered;
}
